.segment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px; /* Bordes suavemente redondeados */
  width: 300px; /* Mayor ancho del contenedor */
  height: 400px; /* Mayor alto del contenedor */
  margin: 0 auto;
  margin-top: 90px; /* Centrar el contenedor */
  padding: 20px;
}

.segment-content img {
  width: 250px; /* Tamaño considerablemente mayor de la imagen QR */
  min-height: 250px;
  border-radius: 15px; /* Bordes redondeados en la imagen QR */
  //margin-top: 150px;
  //box-shadow: 0px 0px 20px 5px rgba(255,165,0, 0.7); /* Sombra de color naranja */
}

.scan-label {
  margin-top: 20px;
  font-size: 16px;
  color: #333; /* Color del texto */
  text-align: center;
  font-weight: normal;
}
.submit {
  display:flex ;
}
#submit {
  width: 150px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
}

.result {
  border: 2px dashed #ccc;  /* Borde punteado */
  padding: 10px;  /* Espaciado interno */
  border-radius: 10px;  /* Bordes redondeados */
  display: block;  /* Asegura que el card ocupe todo el ancho y se alinee debajo */
  background-color: #f8f8f8;  /* Color de fondo claro */
  margin-top: 20px;  /* Añade un margen superior para separar del botón */
  width: auto; /* El ancho del card se ajusta al contenido */
}

#resulLabel {
  display: block;
  font-family: Arial, sans-serif;  /* Fuente */
}

#resultP {
  color: #6e6e6e;  /* Color de "Scan result" */
  font-size: 12px;  /* Tamaño de la etiqueta */
  margin-bottom: 5px;  /* Espacio entre la etiqueta y el valor */
}

#resultDiv {
  font-size: 18px;  /* Tamaño del texto principal */
  color: #000;  /* Color del texto del resultado */
}








#qrImage{
    padding: 20px 0;
}

.qr-wrapper{
    width: 230px;
    height: 200px;
    border-radius: 20px;
    margin: 0;
}

.qr-placeholder{
    width: 20px;
    margin-top: 40px;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}



