
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#welcome {
  font-size: 25px;
}
.text {
  text-align: center;
  font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
  font-weight: bold; /* Para mantener el texto en negrita */
  display: block;
  margin-top: 20px; /* Ajusta este valor si necesitas más separación arriba */
}

.inter {
  margin: 0;
  padding: 0;
}

.shield-icon {
  font-size: 350px; /* Tamaño del ícono */
  margin-top: none; /* Elimina cualquier margen superior */
  align-self: auto; /* Asegura que el ícono esté centrado */
  margin-bottom: 125px;
  margin-left: 18px;
}






